.inputBox-container{
    height: 45px;
    width: 490px;
    display: flex;
    background-color: #fff;
    justify-content: space-around;
    align-items: center;
    border-radius: 5px;
}

.input {
    height:36px;
    width:350px;
    border-radius: 5px;
    float:right;
    font-size:15px;
    border:1px solid #fff;
    padding-left:10px;
}

.input:focus{
    outline-color: rgb(0, 95, 204);
}

.button {
    height: 40px;
    width: 120px;
    background-color: rgb(0,116,224);
    border-radius: 5px;
    float: right;
    cursor: pointer;
    color:white;
    font-size: 15px;
    line-height: 40px;
    text-align: center;
}
