html, body {
    margin: 0 !important;
    height: 100%;
}

#root{
  height: 100%;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  ::-webkit-scrollbar-track {
    border-radius: 8px;
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background: lightblue;
  }
  ::-webkit-scrollbar-thumb:hover{
    background: lightblue;
  }
  ::-webkit-scrollbar-thumb:active{
    background: rgb(92, 124, 199);
  }
  