.header-container {
    height: 400px;
    width: 100%;
    background:url(../../image/headerBG.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-position: center center;
    
}

.body-container {
    padding: 40px;
    background-color: azure;
}

.footer-container {
    text-align: center;
    line-height: 400px;
    height: 400px;
    width: 100%;
    background-color: rgb(19, 21, 25);
    user-select: none;
}
