.header-container {
    height: 100%;
    width: 100%;
    background:url(../../image/unstoppable-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-position: center center;
    
}

.body-container {
    padding: 40px;
    background-color: azure;
}

.footer-container {
    text-align: center;
    line-height: 400px;
    height: 400px;
    width: 100%;
    background-color: rgb(19, 21, 25);
    user-select: none;
}

.icon-container{
    position: absolute;
    right: 32px;
    top: 32px;
    height: 36px;
    width: 36px;
    border-radius: 10px;
    background-color: rgb(233, 233, 233);
    cursor: pointer;
}

.icon-container:hover{
    background-color: rgb(146, 146, 146);
}

.icon-center{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.header-left-description{
    display: flex;   
    flex-direction: column;
    justify-content: space-around;
    padding-left: 50px;
}

.header-title{
    color: white;
    font-size: 60px;
    font-weight: bolder;
    line-height: 120px;
    user-select: none;
    font-family: cursive;
}

.header-subtitle{
    color: white;
    margin-bottom: 70px;
    user-select: none;
    font-size: 30px;
    font-family: cursive;
}
